* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  background-color: #0e130f;
}

.container,
body {
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Geist', sans-serif;  padding: 2vh 2vw;
  max-width: 55%;
  min-height: 100vh;
}

.navigator {
  align-items: center;
  margin: 1rem 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  display: flex;
}

.navigator a {
  display: flex;
  color: #adadad;
  flex-direction: row;
  font-size: 1.5rem;
  text-decoration: none;
  align-items: center;
  margin-right: 1rem;
}

.nav-spacer {
  flex-grow: 1;
  max-width: fit-content;
}

.theme-toggle {
  color: #adadad;
  border: 0;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
}

.mid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  line-height: 1.5;
  box-sizing: border-box;
}

.mid .title .main-title {
  color: #304f2f;
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 0;
  text-align: left;
}

.mid .title p {
  color: #6b7b6a;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.mid .content {
  color: #9eae9e;
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

.spacer {
  flex-grow: 1;
}

.footer {
  text-align: end;
  color: #b0b8b2;
  flex-shrink: 0;
  min-height: 7vh;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.footer hr {
  background-color: #b0b8b2;
  border: 0;
  height: 1px;
  margin-bottom: 1rem;
}

body.light-theme {
  background-color: #d9e9d2;
}

body.light-theme .mid .content,
body.light-theme .theme-toggle {
  color: #3a471f;
}

body.light-theme .footer,
body.light-theme .navigator a,
body.light-theme .title .main-title {
  color: #4a5d23;
}

/* body.light-theme .title p {
  color: #6b7b6a;
} */

body.light-theme .footer hr {
  background-color: #4a5d23;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 1vh 1vw;
  }

  .navigator {
    gap: 0.3rem 0.5rem;
  }

  .navigator a {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }

  .theme-toggle {
    margin-left: auto; 
    margin-right: 0; 
    font-size: 1.2rem; 
  }

  .mid .title .main-title {
    font-size: 2.5rem;
  }

  .mid .title p {
    font-size: 1.2rem;
  }

  .footer,
  .mid .content {
    font-size: 1rem;
  }

  .footer {
    padding: 0.5rem 0;
  }
}
